.DS_Store
node_modules
/dist
/build
/.gradle

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
electron.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

#Electron-builder output
/dist_electron
release/
/subprocess/storage

overwolf/meta.json
overwolf/java-licenses.json
licenses.json

# Overwolf
overwolf/windows/desktop/node_modules
overwolf/launcher.log*
overwolf/*.opk
overwolf/node_modules
*/.DS_Store
overwolf/dist/desktop

# Subprocess
subprocess/.idea
subprocess/.gradle
subprocess/build
subprocess/out
subprocess/node_modules
subprocess/wix
subprocess/jdk
subprocess/instances
subprocess/bin
subprocess/jre
subprocess/releaseBuild
subprocess/releaseUpload
subprocess/natives
subprocess/*.class
subprocess/wix.zip
subprocess/jpackager.archive
subprocess/package-lock.json
subprocess/hs_err*
subprocess/debug.log*
subprocess/jre.archive
subprocess/rss.xml
subprocess/screenlog*
subprocess/GPUCache
subprocess/.localCache
subprocess/launcher.log.lck
subprocess/launcher.log
subprocess/test
subprocess/launcher.log.1
subprocess/launcher.log.1.lck
subprocess/tempDMGExtract/
subprocess/electron.log
subprocess/debugger

**/.yarn

frontend