@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    user-select: none;
    /* disable image drag */
    -webkit-user-drag: none;
}

html, body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-app-region: drag;
}

html, body, #app {
    height: 100%;
}

#app {
    overflow: hidden;
    background-color: #000000 !important;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: stretch;
}