<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Filters>
        <!-- Drop Minecraft logging -->
        <MarkerFilter marker="MINECRAFT" onMatch="${sys:InstanceLauncher.minecraft:-DENY}" onMismatch="NEUTRAL"/>
    </Filters>
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n"/>
        </Console>
        
        <RollingRandomAccessFile name="HttpLog" fileName="./logs/http-requests.log" filePattern="./logs/http-requests-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}]: %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="Latest" fileName="./logs/latest.log" filePattern="./logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min"/>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="Debug" fileName="./logs/debug.log" filePattern="./logs/debug-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] [%logger]: %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="200MB"/>
            </Policies>
            <DefaultRolloverStrategy max="3" fileIndex="min"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="SysOut" level="${sys:console.level:-info}" />
            <AppenderRef ref="Latest" level="info"/>
            <AppenderRef ref="Debug" level="trace" />
        </Root>
        <Logger name="httplogger" level="info" additivity="false">
            <AppenderRef ref="HttpLog"/>
        </Logger>
    </Loggers>
</Configuration>
