[Desktop Entry]
Name=FTB App
Exec=ftb.sh %u
Terminal=false
Type=Application
Icon=dev.ftb.ftb-app
StartupWMClass=FTB Electron App
Comment=FTB Electron App for downloading and managing minecraft modpacks
MimeType=x-scheme-handler/ftb;
Categories=Game;
X-Desktop-Source-File=flathub