.transition-fade-enter-active,
.transition-fade-leave-active {
  transition: opacity var(--transition-duration);
}

.transition-fade-enter,
.transition-fade-leave-to {
  opacity: 0;
}

.transition-fade-and-up-enter-active,
.transition-fade-and-up-leave-active {
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}

.transition-fade-and-up-enter,
.transition-fade-and-up-leave-to {
  opacity: 0;
  transform: translateY(8px);
}