@use "modals";
@use "animations";

:root {
  --curse-color-hsl: 15 87% 58%;
  --curse-color: hsl(var(--curse-color-hsl));
  
  // Standard animation timing
  --transition-duration: 0.25s;
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}

html, body, #app {
  background-color: #2A2A2A;
  color: #FFFFFF;
  margin: 0;
}

#app {
  height: 100%;
}

.pack-page {
  position: relative;
  z-index: 1;

  .pack-page-contents {
    position: relative;
    min-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    .background {
      position: absolute;
      top: -10px;
      left: -10px;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background-attachment: fixed;
      background-size: 100%;
      z-index: -1;
      filter: blur(3px);
    }
    
    > header {
      position: relative;

      .beta-tag {
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        background-color: rgba(234, 32, 32, 0.89);
        font-size: 0.75rem;
        font-weight: bold;
      }
    }

    > .body {
      flex: 1;
      background: rgba(#2a2a2a, 0.9);
      transition: background-color 0.25s ease-in-out;

      &.settings-open {
        background-color: var(--color-background);
      }
    }
  }
}

.global__fullscreen-modal {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#1c1c1c, 0.82);
  z-index: 1000;

  .closer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem .9rem;
    border-radius: 5px;
    background: black;
    transition: .25s ease-in-out background-color;
    cursor: pointer;
    
    &:hover {
      background-color: var(--color-warning-button);
    }
  }
  
  .body-contents {
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0 6.6px 22.66px 0 #00000040;
    padding: 3rem 2rem 2rem;
    width: 590px;
    position: relative;
    z-index: 1;

    .back {
      position: absolute;
      display: flex;
      align-items: center;
      top: 1rem;
      left: 1rem;
      padding: .5rem .9rem;
      cursor: pointer;
      transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out, max-width 0.25s ease-in-out;
      border-radius: 5px;
      opacity: 0.5;
      max-width: 45px;
      overflow: hidden;

      &:hover {
        opacity: 1;
        background-color: black;
        max-width: 180px;

        span {
          opacity: 1;
        }
      }

      span {
        white-space: nowrap;
        display: inline-block;
        margin-left: 1.5rem;
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
      }
    }
  }
}

.actionable-button {
  height: 100px;
  background-color: #454545;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #00000040;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #575757;
    transform: translateX(0.3rem) translateY(-0.3rem);
    box-shadow: -0.3rem 0.3rem 5px 0 #00000040;
  }
}

.post-contents-raw-html {
  img {
    border-radius: 5px;
  }
}

.page-spacing {
  padding: 1rem 1.5rem;
}

.pack-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(131px, 1fr));
  gap: 1.5rem;
}

.allow-overflow-x {
  overflow-x: auto !important;
}

.log-contents-fixer {
  width: unset !important;
  padding-right: 1rem;
  overflow: unset !important;
}